/**
 * User interface custom CSS.
 * Author: Mario Juez (mario[at]mjuez.com)
 */

.full.height {
    position: absolute;
    min-height: 100%;
    left: 8.2rem;
    right: 0;
}

.ui.inverted.very.padded.basic.footer.segment {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

.invisible {
    display: none !important;
}

#pullrequests_filter_dropdown{
    margin-right: 1rem;
}